.main {
    width: 980px;
    height: 455px;
    background-color: pink;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: blueviolet;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;
    background-color: aquamarine;
}

.news {
    height: 165px;
    background-color: antiquewhite;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: "";
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    /* 当文字超出的时候用省略号表示的三步 */
    /* 1超出部分隐藏 2强追不换行 3超出部分用省略号表示 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 先做一个带边框的.lifeservice 大盒子，因为上面的那个盒子带下边框所以去掉上边框。 */
/* 里面 的12个小盒子只做右和下边框，采用浮动 */
.lifeservice {
    height: 209px;
    background-color: beige;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul li {
    position: relative;
    float: left;
    /* 或者把.lifeservice ul这个盒子width：252px
    .lifeservice这个盒子溢出的部分隐藏overflow:hidden; */
    width: 25%;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    margin-top: 12px;
    width: 24px;
    height: 28px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.lifeservice ul li em {
    position: absolute;
    top: 0;
    right: 0;
}

.bargin {
    margin-top: 5px;
}

/* 推荐模块 */
.recom{
    height: 163px;
    background-color: pink;
    margin-top: 12px;
}

.recom_hd{
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
}

/* 图片是后来截的 设置下大小 */
.recom_hd img{
    height: 163px;
    width: 205px;
}

.recom_bd{
    float: left;
}

/* 图片是后来截的 设置下大小 */
.recom_bd img{
    width: 248px;
    height: 163px;
}

.recom_bd ul li{
    position: relative;
    float: left;
}

/* 在每个图片后面加一个after伪元素，但是要改变成行内模式，又因为设置了绝对定位（记得子绝父相） */
/* 又因为第四个li后面没有竖线，所以:nth-child(-n+3) */
.recom_bd ul li:nth-child(-n+3):after{
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: red;
}

/* 家用电器模块 */
.box_hd{
    height: 30px;
    border-bottom: 2px solid red;
}

.box_hd h3{
    float: left;
    font-size: 18px;
    color: red;
    font-weight: normal;
}

.tab_list{
    float: right;
    line-height: 30px;
}

.tab_list ul li{
    float: left;
    padding: 0 15px;
}

.floor .w{
    margin-top: 30px;
}

.box_bd{
    height: 361px;
    background-color: pink;
}

.tab_list_item>div{
    float: left;
    height: 361px;
}

.col_210{
width: 210px;
background-color: #f9f9f9;
text-align: center;
}
.col_210 ul{
    padding-left: 12px;
}
.col_210 ul li{
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_329{
    width: 329px;
}

.col_221{
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219{
    width: 219px;
}

.bb{
    /* 一般情况下，a如果包含有宽度的盒子，a需要转化为块级元素 */
    /* 否则不会出现 */
    display: block;
    border-bottom: 1px solid #ccc;
}